data_dir = "${VECTOR_DATA_DIR:?data directory must be supplied}"

[sources.minecraft]
type = "file"
include = ["${MINECRAFT_LOG_PATH:?minecraft log file must be supplied}"]
read_from = "${READ_FROM:-end}"

[transforms.parse_log]
type = "remap"
inputs = ["minecraft"]
drop_on_error = true
file = "./vector/vrl/parse_log.vrl"

[transforms.classify_log]
type = "remap"
inputs = ["parse_log"]
drop_on_error = true
file = "./vector/vrl/classify_log.vrl"

[transforms.join_or_leave_or_death]
type = "filter"
inputs = ["classify_log"]
condition = '.is_join == true || .is_leave == true || .is_death == true'

[transforms.create_payload]
type = "remap"
inputs = ["join_or_leave_or_death"]
drop_on_error = true
file = "./vector/vrl/create_payload.vrl"

[transforms.discord_enabled]
type = "filter"
inputs = ["create_payload"]
condition = '${DEBUG:-true} == false'

[sinks.console]
type = "console"
inputs = ["create_payload"]
encoding.codec = "text"

[sinks.discord]
type = "http"
inputs = ["discord_enabled"]
uri = "${DISCORD_WEBHOOK_URI:-http://localhost/disabled}"
method = "post"
encoding.codec = "text"
request.headers = { Content-Type = "application/json" }

